.curr-day {
    color: rgb(255, 255, 255);
    background-color: rgb(107, 202, 231);
    border-radius: 16px;
    width: 2rem;
    padding: 4px;
    margin: auto;
}

.weekday-header {
    margin: 10px 0 10px 0;
    text-align: center;
}