.event-container {
    color: white;
    background-color: #2596BE;
    font-size: small;
    padding: 2px 6px; 
    margin: 4px 0px; 
    border-radius: 4px; 
    text-align: left; 
    text-overflow: clip; 
    white-space: nowrap; 
    overflow: hidden;
    max-width: 100px !important;
}

.event-container:hover {
    cursor: pointer;
    background-color: #33abd6;
}

.today-cell {
    color: white;
    background-color: #2596BE; 
    border-radius: 16px;
    display: flex; 
    justify-content: center;
    width: 2rem; 
    margin: auto;
    padding: 4px;
}

.cell {
    padding: 4px;
}
