.day {
    text-align: center;
    min-height: 85vh;
    width: 90vw;
    margin: auto;
    font-size: x-large;
}

.day-event {
    padding: 0 4px 0 10px;
    display: flex;
    gap: 6px;
    font-size: x-large;
    border-radius: 16px;
    margin: 6px 120px 6px 120px;
    overflow: clip;
}

.day-event:hover {
    background-color: rgb(211, 211, 211);
    transition: 0.3s;
    cursor: pointer;
}

.day-event p {
    margin: 0;
    padding: 0;
}

.curr-day {
    color: rgb(255, 255, 255);
    background-color: rgb(107, 202, 231);
    border-radius: 48px;
    width: 3rem;
    padding: 6px;
    margin: auto;
}